body{
    margin: 0%;
    background-color: slategrey;
    color: aliceblue;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif; 
}
div#Boxkun {
    width: 150px;
    height: 150px;
    /* to have original position setup set margin left to 150px */
    margin-left: 550px;
    /* background-color: brown; */
    background-image: url("Images/DefaultFace.png");
    /* box-shadow: -20px 5px black; */
    position: absolute;
}
div#buttonContainer{
    width: 400px;
    height: 150px;
    border-style: solid;
    border-color: chartreuse;
    position: absolute;
    /* top: 800px; */
    top: 50vh;
    
}
button#rightMove{
    width: 30px;
    height: 30px;
    /* background-color: blueviolet; */
    background-image: url("Images/newRightarrow.png");
    background-position: -3px -2px;
    position: absolute;
    top: 80px;
    left: 65px;
}
button#leftMove{
    width: 30px;
    height: 30px;
    /* background-color: blue; */
    background-image: url("Images/newLeftarrow.png");
    position: absolute;
    top: 80px;
    left: 10px;
}
button#upMove{
    width: 30px;
    height: 30px;
    /* background-color: red; */
    background-image: url("Images/newUparrow.png");
    background-position: -2px 0px;
    position: absolute;
    top: 52px;
    left: 37px;
}
button#downMove{
    width: 30px;
    height: 30px;
    /* background-color: springgreen; */
    background-image: url("Images/newDownarrow.png");
    background-position: -2px -4px;
    position: absolute;
    top: 110px;
    left: 36px;
}
button#uprightMove{
    width: 23px;
    height: 23px;
    /* background-color: aqua; */
    background-image: url("Images/newUpRightarrow2.png");
    background-position: 21px -2px;
    position: absolute;
    top: 50px;
    left: 70px;
}
button#downrightMove{
    width: 23px;
    height: 23px;
    /* background-color: darksalmon; */
    background-image: url("Images/newDownRightarrow2.png");
    background-position: 21px -3px;
    position: absolute;
    top: 114px;
    left: 69px;
}
button#upleftMove{
    width: 23px;
    height: 23px;
    /* background-color: darkgreen; */
    background-image: url("Images/newUpLeftarrow2.png");
    background-position: 22px -1px;
    position: absolute;
    top: 51px;
    left: 8px;
}
button#downleftMove{
    width: 23px;
    height: 23px;
    /* background-color: gold; */
    background-image: url("Images/newDownLeftarrow2.png");
    background-position: -1px -4px;
    position: absolute;
    top: 115px;
    left: 10px;
}
input#number{
    width: 50px;
    position: absolute;
    left: 350px;
}
span{
    font-size: 18px;
    float: right;
    position: absolute;
    right: 50px;
}
button#Reset{
    position: absolute;
    left: 330px;
    top: 120px;
    font-size: 18px;

}
footer#Version{
    float: inline-end;
    font-size: 30px;
    position: absolute;
    top: 920px;
    left: 1750px;
    text-align: justify;
}
footer#Version:hover{
    cursor: pointer;
    color: #0000ff;
}
#versionTitle{
    text-align: center;
    margin-top:0px;
    padding-bottom: 10px;
}
#versionHistory{
    position: absolute;
    display: none;
    left: 75vw;
    top: 35vh;
    border-radius: 15px;
    font-size: 22px;
    text-align: match-parent;
    background-color: darkgray;
    width: 20vw;
    height:17vw;
    margin: auto;
    overflow-y: auto;
}

@media screen and (max-width: 1920px){
    footer#Version{
        font-size: 30px;
        position: absolute;
        top: 95vh;
        left: 86vw;
    }
    div#buttonContainer{
        width: 400px;
        height: 150px;
        border-style: solid;
        border-color: chartreuse;
        position: absolute;
        top: 83vh;
        
    }
}
@media screen and (max-height: 900px){
    footer#Version{
        font-size: 30px;
        position: absolute;
        top: 95vh;
        left: 86vw;
    }
    div#buttonContainer{
        width: 400px;
        height: 150px;
        border-style: solid;
        border-color: chartreuse;
        position: absolute;
        top: 80vh;
        
    }
}
@media screen and (max-height: 780px){
    footer#Version{
        font-size: 30px;
        position: absolute;
        top: 95vh;
        left: 86vw;
    }
    div#buttonContainer{
        width: 400px;
        height: 150px;
        border-style: solid;
        border-color: chartreuse;
        position: absolute;
        top: 79vh;
        
    }
}
@media screen and (max-height: 530px), (max-height:730px),(max-height:430px){
    footer#Version{
        font-size: 30px;
        position: absolute;
        top: 95vh;
        left: 86vw;
    }
    div#buttonContainer{
        width: 400px;
        height: 150px;
        border-style: solid;
        border-color: chartreuse;
        position: absolute;
        top: 73vh;
        
    }
}